.collapse-order {
  width: 100%;
  .ant-collapse-item {
    margin: 15px 0;
    padding: 15px 0;
    background-color: white;
    .anticon.anticon-right.ant-collapse-arrow {
      display: none;
    }
    .ant-collapse-content-box {
      padding: 20px 40px;
    }
  }
}
