.ant-dropdown-menu.sub__menu {
  min-width: max-content;
  min-height: max-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px 0px;
  border-radius: 2px;
  background-color: var(--quaternary);
  .sub__menu-item.ant-dropdown-menu-item {
    width: 100%;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      background-color: #ffe4cc;
    }
    &:hover > a {
      color: var(--secondary) !important;
    }
    line-height: 1.5715;
    padding: 12px;
    font-size: 16px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-self: start;
  flex-direction: row;
  flex: 1 1 0%;
  font-size: 18px;
  &__item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 30px;
    max-height: max-content;
    margin: 0 6px;
    padding: 4px 8px;
  }
  .active {
    margin-left: 20px;
    color: var(--secondary) !important;
  }
}

.button {
  margin-top: 8px;
  margin-right: 18px;
  padding: 0 5px;
  color: white;
  cursor: pointer;
  &-login {
    margin-left: 18px;
    padding: 0 5px;
  }
}
