@mixin styleButton($color, $background, $borderColor) {
  &:hover {
    color: $color;
    background: $background;
    border-color: $borderColor;
  }
  &:focus {
    color: $color;
    background: $background;
    border-color: $borderColor;
  }
  color: $color;
  background: $background;
  border-color: $borderColor;
}

.button-action {
  width: 80%;
}
.edit-button {
  @include styleButton(#03a369, #e5f6f0, #e5f6f0);
}

.delete-button {
  @include styleButton(#eb7100, #fff0f0, #fff0f0);
}
