@import '~antd/dist/antd.less';

:root {
  --primary: #00793f;
  --secondary: #eb7100;
  --tertiary: #000000;
  --quaternary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Nunito Sans' !important;
  scroll-behavior: smooth;
  color: var(--tertiary);
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--tertiary);
  background-color: transparent;
  cursor: pointer;
}

a:hover {
  color: var(--secondary);
}

.ant-table-content {
  .ant-table-thead {
    .ant-table-cell {
      text-align: center;
    }
  }

  .ant-table-tbody {
    .ant-table-cell {
      text-align: center;
    }
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 5px;
  }
}
