// Small devices (landscape phones, 576px and down)
@mixin for-small-mobile {
  @media (max-width: 576px) {
    @content;
  }
}

// Small devices (landscape phones, 576px to 768px)
@mixin for-tablet-portrait-up {
  @media (min-width: 576px) and (max-width: 767.98px) {
    @content;
  }
}

@mixin for-tablet-portrait-and-up {
  @media (min-width: 576px) {
    @content;
  }
}

// Medium devices (tablets, 768px to 992px)
@mixin for-tablet-landscape-up {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}

@mixin for-tablet-landscape-and-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-tablet-landscape-and-down {
  @media (max-width: 768px) {
    @content;
  }
}

// Large devices (desktops, 992px to 1200px)
@mixin for-tablet-up-to-desktop {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

// Super large desktop
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
