.ant-layout-sider.ant-layout-sider-light {
  max-width: 230px;
  min-width: 230px !important;
}

.dashboard {
  &__logo {
    .logo-title {
      .name-title {
        font-size: 18px;
        font-weight: bold;
      }
      .des-title {
        font-size: 20px;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      line-height: 20px;
      text-transform: uppercase;
      color: rgb(236, 236, 236);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: #f2994a;
  }
  &__title {
    span {
      color: var(--primary);
      font-weight: bold;
    }
    img {
      margin: 0 10px;
      width: 20px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 20px;
  }
}

.submenu-item {
  .ant-menu-submenu-title {
    display: flex;
    align-items: center;
  }
}

.layout-container {
  width: 100%;
}

.header-container {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: calc(100% - 230px);
  height: 64px;
}

.content-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 48px;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  background-color: #fff !important;
}
